*{ font-family: sans-serif; }

/*.box{ border: 1px solid black}*/


.touch{
	position: absolute;
	left: 30%;
	top: 46%;
	transform: translate(50%, 50%);
	font-size: 45px;
	color: #dbca11;
	width: 320px;
	text-align: center;
}

.touch:hover {
	color: yellow;
	cursor: pointer;
}

.touch2{
	position: absolute;
	left: 4%;
	bottom: 10%;
	font-size: 35px;
	color: #dbca11;
}

.touch2:hover {
	color: yellow;
	cursor: pointer;
}

.C_rainbow{
	position: fixed;
	right: -320px;
	bottom: -150px;
	width: 20%;

	-webkit-transform: rotate(-20deg);


}

.C_rainbow_activate{
	-webkit-animation: enlarge1 7s 3;
	animation: enlarge1 7s 3;
	transition-timing-function: ease-in-out; 
	animation-fill-mode: forwards;

/*	animation-delay: 7s;*/
}

@-webkit-keyframes enlarge1 {
	0% {top: 20%;}
	100% {top: 70%;}
}

@keyframes enlarge1 {
	0% {width: 20%;}
	100% {width: 70%;}
}


.C_pink{
	position: fixed;
	top: -320px;
	left: -150px;
	width: 20%;

	-webkit-transform: rotate(-30deg);

}

.C_pink_activate{

	-webkit-animation: enlarge2 7s 3;
	animation: enlarge2 7s 3;
	transition-timing-function: ease-in-out; 
	animation-fill-mode: forwards;

/*	animation-delay: 7s;*/
}

@-webkit-keyframes enlarge2 {
	0% {top: 20%;}
	100% {top: 70%;}
}

@keyframes enlarge2 {
	0% {width: 20%;}
	100% {width: 70%;}
}

.C_skyblue{
	position: fixed;
	bottom: -260px;
	left: -120px;
	width: 20%;

	-webkit-transform: rotate(50deg);

}

.C_skyblue_activate{

	-webkit-animation: enlarge3 7s 3;
	animation: enlarge3 7s 3;
	transition-timing-function: ease-in-out; 
	animation-fill-mode: forwards;

}


@keyframes enlarge3 {
	0% {width: 20%;}
	100% {width: 65%;}
}


.C_green{
	position: fixed;
	top: -290px;
	right: -250px;
	width: 20%;

	-webkit-transform: rotate(-145deg);

}

.C_green_activate{

	-webkit-animation: enlarge4 7s 3;
	animation: enlarge4 7s 3;
	transition-timing-function: ease-in-out; 
	animation-fill-mode: forwards;

}

@keyframes enlarge4 {
	0% {width: 20%;}
	100% {width: 70%;}
}

.content1-1{
	position: absolute;
	left: 26%;
	top: 0%;
	transform: translate(50%, 50%);
	font-size: 25px;
	color: #dbca11;
	width: 300px;
	height: 100px;
	line-height: 43px;
	cursor: pointer;
}

.content1-2{
	position: absolute;
	left: 33%;
	bottom: 9%;
	transform: translate(50%, 50%);
	font-size: 35px;
	color: #dbca11;
	width: 400px;
	height: 50px;
	text-align: center;
	letter-spacing: 4px;
	cursor: pointer;
}

.touch3{
	position: absolute;
	left: 20%;
	top: 50%;
	font-size: 35px;
	color: #2d2d12;
	z-index: 50;
	width: 370px;
}

.touch3:hover {
	color: yellow;
	cursor: pointer;
}

.C_mikey{
	position: fixed;
	top: -300px;
	left: 300px;
	width: 20%;

	-webkit-transform: rotate(-30deg);

}

.C_mikey_activate{

	-webkit-animation: enlarge5 7s 3;
	animation: enlarge5 7s 3;
	transition-timing-function: ease-in-out; 
	animation-fill-mode: forwards;

}

@keyframes enlarge5 {
	0% {width: 20%;}
	100% {width: 60%;}
}

.C_red{
	position: fixed;
	bottom: -370px;
	left: 250px;
	width: 20%;

	-webkit-transform: rotate(135deg);

}

.C_red_activate{

	-webkit-animation: enlarge6 7s 3;
	animation: enlarge6 7s 3;
	transition-timing-function: ease-in-out; 
	animation-fill-mode: forwards;

}



@keyframes enlarge6 {
	0% {width: 20%;}
	100% {width: 55%;}
}


























.hide { display: none; }

.opacity {opacity: 0}

@font-face {
	font-family: alegreya;
	src: url(../font/Alegreya/Alegreya-Regular.ttf);
}


.running {
	animation-duration: 23s;
	animation-name: runnin;
	animation-iteration-count: 1;
}

@keyframes runnin {
	from { left: -40%; }
	to {left: 110%; }
}


.fade-out{
	opacity: 1;
	animation: fade 0.2s linear;
    animation-fill-mode: forwards; 
}

@keyframes fade {
	0% { opacity: 1}
	100% {opacity: 0}

}




